body {
    font-family: Arial, sans-serif;
    background: #cce7ff;
}

.container {
    width: 400px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.actions span {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.actions span:hover {
    color: red;
}

#statusMsg {
    margin-top: 10px;
    font-weight: bold;
}
